& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="ohenrys-vc"] {

    }
}

.header{
    height: 20em;
    background-size: cover;
    background-image: url('/images/OHenrys-Hero.jpg');
    background-position: 50%;
   
}
