& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="ohenrys-vc"] {

    }
}
.navbar{
    background-color: transparent;
    float: left;
}
.nav-center{
    width: 5%;
    margin-left: 1em;
    color: white;
}
.nav-center-first{
    width: 5%;
    margin-left: 12em;
    color: white;
}

.logos-header{
    width: 3%;
    margin-left: 1em;
    margin-top: 2em;
}

.logos-header{
    width: 2%;
    margin-left: 1em;
    margin-top: 2em;
}

.logos-header-last{
    width: 2%;
    margin-left: 15em;
    margin-top: 2em;
}

.logo-center{
    width: 5%;
    margin-left: 1em;
    margin-top: 2em;
}
.header{
    width: 100%;
    background-size: cover;
    background-image: url('/images/OHenrys-Hero.jpg');
    background-position: 50%;
   
}
.center{
    top: 30%;
    text-align: center;
}
.logo{
    width: 40%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.top{
    width:100%;
    height: 100%;
    vertical-align:middle;
    top: 30%;
    h2{
        margin-left: 34%;
        margin-right: 28%;
        padding-top: 37%;
        text-align: center;
        color: white;
        // font-family: WorkSans ExtraLight;
    }
}




